<!DOCTYPE html>
<html>
<head>
  <title>Money Manager</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
 <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
</head>
<body>
<nav>
  <ul>
    <li><a href="/types">Types</a></li>
    <li><a href="/companies">Companies</a></li>
    <li><a href="/transactions/new">Add Transaction</a></li>
    <li><a href="/transactions">All Transactions</a></li>
    <li><a href="/">Home</a></li>
  </ul>
</nav>
<%= yield %>
<footer>&copy; Money Manager PLC 2016</footer>
</body>
</html>