<div>
<h2>Edit Company</h2>
</div>

<form action="/companies/<%= @company.id %>" method= "post">
<input type="hidden" name="_method" value="put">
  
<label for = "company" >Company</label>
<input type="text" name="company" value =    "<%= @company.company %>">

<input type="submit" value = "Edit Company">

</form>

<form action = "/companies/<%= @company.id %>" method = "post">
<input type="hidden" name="_method" value = "delete">
<input type="submit" value="Delete Company">


</form>