<div><h2>Add Company</h2>


<form action="/companies" method= "post">
  
<label for = "company" >Type</label>
<input type="text" name="company">

<input type="submit" value = "Add Transaction">

</form>
</div>